/* Başlanğıc stil */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: transparent;
    transition: background-color 0.3s ease;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  .navbar-scrolled {
    background-color: rgba(0, 0, 0, 0.7); /* Scroll edildikdə şəffaf fon */
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo {
    height: 40px;
    transition: opacity 0.3s ease;
  }
  
  .navbar-center {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .navbar-center li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: color 0.3s ease;
  }
  
  .navbar-center li a:hover {
    color: #00d1b2; /* Hover effekti üçün rəng */
  }
  
  .navbar-right .talk-btn {
    background-color: #00d1b2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    transition: opacity 0.3s ease;
  }
  
  .navbar-right .talk-btn:hover {
    background-color: #00a592;
  }
  
  .navbar-scrolled .navbar-logo,
  .navbar-scrolled .talk-btn {
    opacity: 0; /* Scroll edildikdə logo və düymə gizlənir */
    pointer-events: none;
  }
  